storage:
  provider: s3
  url: "{{ s3_endpooint }}"
  aws_access_key: "{{ aws_access_key }}"
  aws_secret_key: "{{ aws_secret_key }}"
  bucketName: "{{ s3_bucket_name }}"
  region: "{{ aws_region }}"
clusterComponent:
  nodeName: {{ ansible_hostname }}
{% if furyagent_configure_etcd or furyagent_etcd_backup %}
  etcd:
    certDir: {{ furyagent_etcd_certs_dir }}
    dataDir: {{ furyagent_etcd_data_dir }}
    caCertFilename: ca.crt
    caKeyFilename: ca.key
    clientCertFilename: healthcheck-client.crt
    clientKeyFilename: healthcheck-client.key
    endpoint: https://localhost:2379
    snapshotFile: /tmp/etcd-backup.db
    backupRetention: 36h
    backupFrequency: 15m
{% endif %}
{% if furyagent_configure_master %}
  master:
    certDir: {{ furyagent_kubernetes_certs_dir }}
    caCertFilename: ca.crt
    caKeyFilename: ca.key
    saPubFilename: sa.pub
    saKeyFilename: sa.key
    proxyCaCertFilename: front-proxy-ca.crt
    proxyKeyCertFilename: front-proxy-ca.key
    etcdClientCertFilename: etcd-client.crt
    etcdClientKeyFilename: etcd-client.key
    backupRetention: 24h
    backupFrequency: 15m
{% endif %}
{% if furyagent_configure_openvpn %}
  openvpn:
    certDir: {{ furyagent_openvpn_certs_dir }}
{% endif %}
