export ETCDCTL_API=3
export ETCDCTL_ENDPOINTS=https://localhost:2379
export ETCDCTL_CACERT={{ etcd_certs_dir }}/ca.pem
export ETCDCTL_KEY={{ etcd_certs_dir }}/etcdctl-client-key.pem
export ETCDCTL_CERT={{ etcd_certs_dir }}/etcdctl-client.pem
