ETCD_NAME={{ etcd_name }}

# Initial cluster configuration
ETCD_INITIAL_CLUSTER={{ groups.etcd | map('extract', hostvars, 'etcd_node') | join(',') }}
ETCD_INITIAL_CLUSTER_STATE=new

# Peer configuration
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_scheme }}://{{ etcd_address }}:2380
ETCD_LISTEN_PEER_URLS={{ etcd_scheme }}://{{ etcd_address }}:2380

ETCD_CLIENT_CERT_AUTH=true
ETCD_PEER_CERT_FILE=/etc/etcd/pki/peer.pem
ETCD_PEER_KEY_FILE=/etc/etcd/pki/peer-key.pem
ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/pki/ca.pem

# Client/server configuration
ETCD_ADVERTISE_CLIENT_URLS={{ etcd_scheme }}://{{ etcd_address }}:2379
ETCD_LISTEN_CLIENT_URLS={{ etcd_scheme }}://{{ etcd_address }}:2379,{{ etcd_scheme }}://127.0.0.1:2379

ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_CERT_FILE=/etc/etcd/pki/server.pem
ETCD_KEY_FILE=/etc/etcd/pki/server-key.pem
ETCD_TRUSTED_CA_FILE=/etc/etcd/pki/ca.pem

# Other
ETCD_DATA_DIR=/var/lib/etcd
ETCD_STRICT_RECONFIG_CHECK=true
GOMAXPROCS=4