#!/usr/bin/env bash

set -e
set -u
set -o pipefail

source "{{ etcd_config_dir }}/etcd.env"

export ETCDCTL_API=3
export ETCDCTL_CACERT="$ETCD_TRUSTED_CA_FILE"
export ETCDCTL_CERT="{{ etcd_certs_dir }}/etcdctl-client.pem"
export ETCDCTL_KEY="{{ etcd_certs_dir }}/etcdctl-client-key.pem"
export ETCDCTL_ENDPOINTS="$ETCD_ADVERTISE_CLIENT_URLS"

TIMESTAMP="$(date +%Y%m%d%H%M)"

find "{{ etcd_backup_dir }}" -type f \
  -name '*-etcd-backup.tar.gz' \
  -mtime '+{{ etcd_backup_retention_days }}' \
  -delete

"{{ etcd_binary_dir }}/etcdctl" snapshot save "{{ etcd_backup_dir }}/${TIMESTAMP}-backup.db"

tar -czvf "{{ etcd_backup_dir }}/${TIMESTAMP}-etcd-backup.tar.gz" \
  "{{ etcd_backup_dir }}/${TIMESTAMP}-backup.db" \
  "{{ etcd_certs_dir }}"

ln -sf "{{ etcd_backup_dir }}/${TIMESTAMP}-etcd-backup.tar.gz" \
  "{{ etcd_backup_dir }}/current-etcd-backup.tar.gz"

rm -f "{{ etcd_backup_dir }}/${TIMESTAMP}-backup.db"

exit 0
