---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
etcd:
  local:
    serverCertSANs:
      - {{ inventory_hostname}}.{{ dns_zone }}
    peerCertSANs:
      - {{ inventory_hostname}}.{{ dns_zone }}
certificatesDir: {{ etcd_certs_dir }}
