---
etcd_name: "{{ inventory_hostname }}"
etcd_version: v3.3.12
etcd_download_url: https://storage.googleapis.com/etcd
etcd_data_dir: /var/lib/etcd
etcd_binary_dir: /usr/local/bin
etcd_config_dir: /etc/etcd
etcd_certs_dir: /etc/etcd/pki
etcd_address: "{{ ansible_default_ipv4.address }}"
etcd_initial_cluster: "https://localhost:2380"
etcd_client_address: 127.0.0.1