      storage:
        provider: s3
        url: "http://s3-${s3_region}.amazonaws.com"
        aws_access_key: "${aws_access_key}"
        aws_secret_key: "${aws_secret_key}"
        bucketName: "${s3_bucket_name}"
        region: "${s3_region}"
